<h1>BillBoards#edit</h1>
<p>Find me in app/views/bill_boards/edit.html.erb</p>
<%= form_with model: @billboard do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
